<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <!-- bootstrap start -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- bootstrap end -->
    <link rel="stylesheet" href="log in.html" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

       
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="19764794757-iugiaojkkgvkugjg7n6ti1718ejilckl.apps.googleusercontent.com"
    />
        <link rel="stylesheet" href="/logIn.css" />
  </head>
  <body>

  {{#if message}}
      <h4 class="alert alert-danger mt-4 fixed">{{message}}</h4>
  {{/if}}

<div class="bigContainer">
    <div class="logIn ">
      <form action="/auth2/user" method="POST">
        <h1>Developer</h1>
<div class="whiteLine">
        <label>User name Or E-mail</label>
        <input type="email" placeholder="E-mail" name="email" id="email" />
        <i style="font-size:17px" class="fa">&#xf2bd;</i>
</div>
<div class="whiteLine">
        <label>Password</label>
        <input type="password" placeholder="Password" name="password" id="password" />
        <i style="font-size:17px" class="fa">&#xf023;</i>
</div>
        <div class="remember">
          <a href="/">Forget Password?</a>
        </div>

        <input type="submit" value="SIGN IN" />


      <div class="d-grid gap-2">
  </div>
  <div class="bigDiv">
    <div class="div1"></div>
    <div class="center">or</div>
    <div class="div1"></div>
  </div>
           <div class="google"><div class="g-signin2" data-onsuccess="onSignIn"></div></div> 
      </form>

          <div class="h5"><h5>Not a member yet ?</h5><a href="/register">Sign Up</a></div> 

    </div>
    </div>


    <script>
    function signOut() {
        const auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    </script>

    <script>
    function onSignIn(googleUser) {
        const id_token = googleUser.getAuthResponse().id_token;
        // console.log(id_token);
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                signOut();
                location.assign('/home')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));
      }
    </script>

  </body>
</html>